

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
  }

.full-image, .full-image2, .full-image3{
  opacity:0.70;
  position: relative;
}


 .full-image {
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1421218108559-eb1ff78357f5?ixlib=rb-0.3.5&s=63ad4131835e68ad4e7f1b06954dd5c4&auto=format&fit=crop&w=1790&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-image2 {
 height: 400px;
 width: 100vw;
 background-image: url("https://images.pexels.com/photos/164536/pexels-photo-164536.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 display: flex;
 justify-content: center;
 align-items: center;
}

.full-image3 {
 height: 400px;
 width: 100vw;
 background-image: url("https://images.pexels.com/photos/378570/pexels-photo-378570.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 display: flex;
 justify-content: center;
 align-items: center;
}


.section{
  text-align:center;
  padding:50px 80px;
}


.section-light{
  background: #f4#f4#f4;
  color:#666;
}

.section-dark{
  background: #282e34;
  color:#ddd;
}

.center-text {
  min-width: 500px;
	min-height: 200px;
	background-color: rgba(255, 255, 255, .7);
	display: flex;
	justify-content: center;
	align-items: center;
  text-align:center;
}
